@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu&display=swap');
:root {
    --gdsc-spacing: 64px;
}

body {
    font-family: 'Press Start 2P', cursive;
    max-width: 800px;
    background-color: #100c08;
    color: white;
    /* border: solid white; */
    margin: 2em auto;
    text-align: center;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/floor.png) 12 round;
}

h1 {
    font-size: min(3vw, 36px);
}

p {
    font-family: "Ubuntu", sans-serif;
}