body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  background-color: black;
  color: white;
  border: solid white;
  margin: 2em auto;
  text-align: center;
}

img{
  width: 80%;
  padding: 10%;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: lightgreen;
}
li{
  list-style: none;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.item{
  padding-top: 5%;
  font-size: 20px;
}
.people{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

.cards img{
  border-radius: 50%;
  width: 40%;
  padding:0;
}
.woop:hover{
  animation: change-color 1s infinite;
}

@keyframes change-color{
  0%{color:blue;}
  33%{color:red;}
  66%{color:yellow}
  100%{color:green}
}