@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu&display=swap');
:root {
  --gdsc-spacing: 64px;
}

body {
  font-family: 'Press Start 2P', cursive;
  max-width: 800px;
  background-color: #100c08;
  color: white;
  /* border: solid white; */
  margin: 2em auto;
  text-align: center;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/floor.png) 12 round;
}

h1{
  font-size: min(3vw,36px);
}

p{
  font-family: "Ubuntu",sans-serif;
}

img{
  width: 80%;
  padding: 10%;
}

a {
  font-size: min(3vw,16px);
  color: rgba(96, 196, 3, 0.945);
  text-decoration: none;
  padding: 0px 5px;
}

a:hover{
  color: lightgreen;
}

li{
  list-style: none;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.back-button{
  display: flex;
  justify-content: left;
}

.item{
  padding-top: 2%;
  font-size: 20px;
  padding-bottom: 2%;
}

.item:hover{
  color: lightgreen;
  animation: jump 1s 1;
}

.mentor-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: row;
}

.presenter-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: row;
}

.comm-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: row;
}

.secdec-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: row;
}

.proman-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: row;
}

.about-card img{
  border-radius: 50%;
  min-width: 70px;
  max-width: 10vw;
  padding:0;
}

.about-card h2{
  font-size: min(3vw,16px);
}

.about-card h3{
  font-size: min(2vw,12px);
}

.woop:hover{
  animation: change-color 2s infinite;
}

#gdsc-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: var(--gdsc-spacing);
  font-weight: bolder;
}

#gdsc-text pre {
  margin-left: calc(var(--gdsc-spacing) * -1);
  animation: wave-title 1s infinite;
}

#gdsc-text pre:nth-child(1) {
  color: rgb(66, 133, 244);
  animation-delay: 0.2s;
}

#gdsc-text pre:nth-child(2) {
  color: rgb(219, 68, 55);
  animation-delay: 0.4s;
}

#gdsc-text pre:nth-child(3) {
  color: rgb(244, 180, 0);
  animation-delay: 0.6s;
}

#gdsc-text pre:nth-child(4) {
  color: rgb(15, 157, 88);
  animation-delay: 0.8s;
}

img.social{
  height:100px;
  width: auto;
}

img.logo{
  height:100px;
  width: auto;
}

.intro{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  padding: 2%;
}

@keyframes change-color{
  0%{color:rgb(66, 133, 244);}
  24%{color:rgb(66, 133, 244);}
  25%{color:rgb(219, 68, 55);}
  49%{color:rgb(219, 68, 55);}
  50%{color:rgb(244, 180, 0)}
  74%{color:rgb(244, 180, 0)}
  75%{color:rgb(15, 157, 88)}
  100%{color:rgb(15, 157, 88)}
}

@keyframes wave-title {
  0% { transform: translateY(2px); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(2px); }
}

@keyframes jump {
  /* 0% { transform: translateY(0px); }
  15% { transform: translateY(6px); }
  30% { transform: translateY(0px); }
  45% { transform: translateY(4px); }
  60% { transform: translateY(0px); }
  75% { transform: translateY(2px); }
  90% { transform: translateY(0px); }
  100% { transform: translateY(1px); } */
  0% {transform: translateY(0px);}
  14.3% {transform: translateY(-16px)}
  28.6% {transform:translateY(0px)}
  42.9% {transform:translateY(-8px)}
  57.2%{transform:translateY(0px)}
  71.5%{transform:translateY(-4px)}
  100% {transform:translateY(0px)}
}